.cards{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.cards_data{
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .cards{
      flex-direction: column;
    }
    .cards_data{
      height: 9rem;
    }
  }
  
  @media screen and (max-width: 768px)
  {
    .cards{
      width: 90%;
    }
  }